reportlab
matplotlib


i think it look messy. i want it formated as in zero days one look how it formattted

0day:
Server: LiteSpeed
IP Address: 103.191.76.181
Page Title: Site Maintenance
• HTML5 detected
• LiteSpeed web server
• HSTS (HTTP Strict Transport Security) enabled

unimy
Server: Linux][Apache/2.4.59 (Amazon Linux) OpenSSL/3.0.8, Linux][Apache/2.4.59 (Amazon L
IP Address: 54.255.89.183, 54.255.89.183
Page Title: 301 Moved Permanently]
https://www.unimy.edu.my/ [200 OK] Apache[2.4.59
Home - UNIMY
• HTML5 detected

can you explain why event i generate it using the same script . and additionally the bproblem with unimy one that its overflowing from the table because its too long. cant it be next line withou overflowing
